@use '../../styles/mixin' as mixin;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 165px;
  height: 68px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  svg {
    width: 100px;
    path {
      fill: mixin.$main-color;
    }
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 70px;
      li {
        font-weight: 500;
      }
    }
  }
}

.scroll {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: mixin.$main-color;
  z-index: 100;
}
